*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 202, 255);
}

.content{
    background-color: rgb(245, 245, 245);
    padding: 50px;
    box-shadow: 0px 0px 13px 2px #000000;
}

h1{
    margin-bottom: 5px;
}

#btn{
    font-weight: 600;
    margin-inline: 2px;
}

ul{
    list-style: none ;
}

li{
    margin-top: 5px;
}

li::before{
    content:"\2764  "; 
    color: red;
}

#remover{
    margin-top: 10px;
    width: 100%;
    font-weight: 600;
}